#home-container,
.home-container {
    background-color:rgb(239, 235, 235);
    border: 1px solid var(--border-color);
    padding: 24px;
    width: 100%;
    max-height: 500px;
    overflow-y: scroll;
    border-radius: 12px;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    gap: 16px;
}
#home-container table tr td {
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
#home-container table, th, td {
    border: 1px solid black;
}
#home-container table, th, td{
    border: 1px solid black;
}

.holding-table {
    width: 100%;
    border-collapse: collapse;
}
